html{font-size: 625%;}
body{margin: 0;padding: 0;}
*{box-sizing: border-box;}
.content{
	width: 4rem;
	height: auto;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -2rem;
}
p {
    font-size: 0.22rem;
    text-align: center;
}
.input-item{
	position: relative;
    text-align: center;
}
input{
	width: 3.5rem;
    height: 0.5rem;
    border-radius: 0.04;
    border: 0.01rem solid #CACACA;
    font-size: 0.18rem;
    font-weight: normal;
    padding-left: 0.1rem;
    outline: none;
}

button{
		width: 0.9rem;
		height: 0.42rem;
		font-size: 0.14rem;
		border-radius: 0.04rem;
		background: none;
		border: 0.01rem solid #CACACA;
		outline: none;
		vertical-align: top;
		margin-top: 0.1rem;
}
#output {
    text-align: center;
    margin-top: 0.3rem;
}
#output canvas {
    padding: 0.1rem;
    border: 0.01rem solid;
    background: #fff;
}

@media screen and (max-width: 767px) {
    .content {
        padding: 0.3rem;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
    }
    p {
        font-size: 0.13rem;
    }
    input{
        width: 100%;
        border-radius: 0.04rem;
    }
    button {
        width: 44%;
        height: 0.42rem;
        margin-top: 0.2rem;
        background: #00C8FF;
        color: white;
        font-size: 0.24rem;
        border-radius: 0.04rem;
        border: none;
    }
}
